<?xml version="1.0" encoding="utf-8" ?>
<components>
    <sqlEngine>
        <connectionString>
            <param name="Driver" value="oracle.jdbc.driver.OracleDriver" />
            <param name="DataSource" value="" />
            <param name="UserId" value="{login}" />
            <param name="Password" value="{pwd}" />
            <param name="DbUrl" value="jdbc:oracle:thin:@ldap://oid2.rosenergo.com/{db_name},cn=OracleContext,dc=rosenergo,dc=com" />
        </connectionString>
    </sqlEngine>
    <transmitterIn>
    </transmitterIn>
    <transmitterOut>
    </transmitterOut>
</components>
